*{
    margin: 0%;
    padding: 0%;
}
.container{
margin-left: 400px;
margin-right: 400px;
}

h1{
    padding: 5px;
    background-color: black;
    color: white; 
}
h2{
    text-align: center;
}

.profile{
    border: 2px solid black;
}

.profile a {
    padding: 10px;
    margin-left: 5px;
}
.profile h3 {
    margin-top: 10px;
    text-align: center;
}

.box{
    border: 2px solid black;
    width: 300px;
    padding: 15px;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

button{
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 1px 1px;
    background-color:#ffd966 ; 
    cursor: pointer;
}
p{
    margin: 10px;
}
.row{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.col{
    flex: 1;
    margin-right: 100px;
}

.col-2{
    flex: 2;
    margin-left: 100px;
}